@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-sans: "DM Sans Variable", sans-serif;
  --font-heading: "Space Grotesk Variable", sans-serif;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(0.9163 0.1927 114.69);
  --accent-foreground: var(--foreground);
  --default: oklch(97% 0.001 286.375);
  --radius: 0.25rem;
  --field-radius: 0.75rem;
}

@layer components {
  .button--secondary {
    @apply bg-accent-soft text-foreground;
  }

  .label {
    @apply text-muted text-xs;
  }

  .input {
    @apply py-3 text-sm;
  }
}
